<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>IPL Stats</title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/css/bootstrap.min.css" integrity="sha384-TX8t27EcRE3e/ihU7zmQxVncDAy5uIKz4rEkgIXeMed4M0jlfIDPvg6uqKI2xXr2" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/chart.js@2.9.4/dist/Chart.min.js" integrity="sha256-t9UJPrESBeG2ojKTIcFLPGF7nHi2vEc7f5A2KpH/UBU=" crossorigin="anonymous"></script>

    <style>
        .row{
            margin-top: 40px;
        }
        .col-6{
            cursor: pointer
        }

        .col-6:hover{
            transform: translate(-1px, -1px);
            border: 1px solid black;
            box-shadow: 1px 1px black;
        }
    </style>
</head>
<body>
    <div class="container">
        <h1 class="jumbotron text-center">IPL STATISTICS</h1>

        <div class="row">
            <div class="col-6" id="overall_team_wise_win_count"></div>
            <div class="col-6" id="ipl_facts"></div>
        </div>

        <div class="row">
            <div class="col-6" id="top_4_teams_all_time"></div>
            <div class="col-6" id="over_wise_avg_run_scored"></div>
        </div>


        <label for="season">Select Season here: </label>
        <select name="season" id="season" onchange="update_season_wise_params()" class="form-control">
            {% for s in seasons %}
                <option value={{s.season}} {% if s.season == selected_season %}selected{% endif %}>{{ s.season }}</option>
            {% endfor %}
        </select>


        <div class="row">
            <div class="col-6" id="team_wise_win_count"></div>
            <div class="col-6" id="ipl_season_facts"></div>
        </div>

        <div class="row">
            <div class="col-6" id="avg_runs_per_over_season"></div>
            <div class="col-6" id="worst_bowler"></div>
        </div>

        <div class="row">
            <div class="col-6" id="team_ranking_season"></div>
        </div>
    </div>

<script>
// API URLS to use in the Code
var facts_url = "{% url 'ShowStats:factsAPI' %}";
var team_ranking = "{% url 'ShowStats:team_ranking' %}";
var charts_url = "{% url 'ShowStats:chartsJSView' %}";

function make_ajax_get_call(url, callBackFunction, parameters){
    // Generalized Function to make API Calls
    url = url + "?" + $.param(parameters);
    var xhr = $.get(url, function(data, status){
        callBackFunction(data, status);
    });

    return xhr;
}

function get_fill_list_api_data(ele_id){
// First class function to get element id pre-built into the Call back
    function fill_list_api_data(data){
        var div = document.getElementById(ele_id);
        div.innerHTML = '';

        var heading = document.createElement('h5');
        heading.innerHTML = data['heading'];

        var list = document.createElement('ol');
        for(var i=0; i < data['list'].length; i++){
            var li = document.createElement('li');
            li.innerHTML = data['list'][i];
            list.appendChild(li);
        }

        div.appendChild(heading);
        div.appendChild(list)

    }

    return fill_list_api_data;
}

function get_fill_chart_data(ele_id){
// First class function to get element id pre-built into the Call back
    function fill_chart_data(data){
        var div = document.getElementById(ele_id);
        div.innerHTML = '';

        var ctx = document.createElement('canvas');
        var myPieChart = new Chart(ctx, data);

        div.appendChild(ctx);
    }

    return fill_chart_data;
}

function update_season_wise_params(){
    // Update season wise facts
    var season = document.getElementById('season').value;
    make_ajax_get_call(facts_url, get_fill_list_api_data('ipl_season_facts'), {season: season});
    make_ajax_get_call(team_ranking, get_fill_list_api_data('team_ranking_season'), {season: season});

    make_ajax_get_call(charts_url, get_fill_chart_data('worst_bowler'), {
           chart_name: 'top_worst_bowlers',
           chart_type: 'doughnut',
           season: season
    });

    make_ajax_get_call(charts_url, get_fill_chart_data('team_wise_win_count'), {
           chart_name: 'team_wise_win_count',
           chart_type: 'radar',
           season: season
    });

    make_ajax_get_call(charts_url, get_fill_chart_data('avg_runs_per_over_season'), {
           chart_name: 'avg_runs_per_over_season',
           chart_type: 'line',
           season: season
    });

}


// Need to run this only once as the API is not subjected to any input parameter
make_ajax_get_call(facts_url, get_fill_list_api_data('ipl_facts'));
make_ajax_get_call(team_ranking, get_fill_list_api_data('top_4_teams_all_time'));
make_ajax_get_call(charts_url, get_fill_chart_data('overall_team_wise_win_count'), {chart_name: 'overall_team_wise_win_count', chart_type: 'bar'});
make_ajax_get_call(charts_url, get_fill_chart_data('over_wise_avg_run_scored'), {chart_name: 'over_wise_avg_run_scored', chart_type: 'line'});


update_season_wise_params()

</script>
</body>
</html>